<!--Equipamiento.html-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Información del Equipamiento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
    <fieldset>
        <legend>Información de Equipamiento</legend>
        <div class="form-group row">
            {% if Equipamiento %}
            <p><strong>Nombre:</strong> {{ Equipamiento.nombre }}</p>
            <p><strong>Precio:</strong> {{ Equipamiento.precio }}</p>
            {% if (Equipamiento.Nombre == "Futbol") %}
            <p><strong>Talla:</strong> {{ Equipamiento.talla }}</p>
            {% elif (Equipamiento.Nombre== "Baketball") %}
            <p><strong>Talla:</strong> {{ Equipamiento.talla }}</p>
            <p><strong>Material:</strong> {{ Equipamiento.material }}</p>
            {% elif (Equipamiento.Nombre == "Rugby") %}
            <p><strong>Peso:</strong> {{ Equipamiento.peso }}</p>
            {% endif %}
            <p><strong>Descripcion:</strong> {{ Equipamiento.descripcion() }}</p>
            {% else %}
            <p>La Equipamiento seleccionada no fue encontrada en la lista.</p>
            {% endif %}
            <form method="get" action="/">
                <button type="submit" class="btn btn-primary">Mas Equipamiento</button>
            </form>
        </div>
    </fieldset>
</body>
</html>